.pokemon-card {

  height: 100%;

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }

  .card-title {
    @extend .justify-content-center;
    @extend .text-white;
  }

  .card-text {
    @extend .justify-content-center;
    @extend .text-white;
  }

  img {
    height: 60%;
    width: auto;
  }

}

@import "../custom.scss";
