.card-list {
    display: grid;
    padding: 5vmin;
    gap: 5vmin;
    justify-content: center;
  
    @media (orientation: landscape) and (min-height: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(140px, calc(33vmin / 1.4)));
      grid-auto-rows: minmax(196px, 33vmin);
    }
  
    @media (orientation: landscape) and (max-height: 600px) {
      grid-template-columns: repeat(auto-fit, 140px);
      grid-auto-rows: 196px;
    }
    
    @media (orientation: portrait) {
      grid-template-columns: repeat(auto-fill, minmax(140px, 33vmin));
      grid-auto-rows: minmax(196px, calc(33vmin * 1.4));
    }
  
  }