@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("../Pokemon\ Solid.ttf"),
    url("../Pokemon\ Solid.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon Hollow";
  font-style: normal;
  font-weight: normal;
  src: local("../Pokemon\ Hollow.ttf"),
    url("../Pokemon\ Hollow.ttf") format("truetype");
}

$text-stroke: 0 0 3px black;

header {
  width: 100%;
  height: 66vmin;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: transparent;
}

h1 {
  font-family: "Pokemon Solid";
  font-size: 8em;
  line-height: 1.8em;
  letter-spacing: 0.06em;
  text-align: center;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
  color: #fff;

  display: inline-block;
  margin-top: -6vh;

  @media (max-width: 1200px) {
    font-size: 6em;
    line-height: 1.35em;
    letter-spacing: 0.045em;
  }

  @media (max-width: 480px) {
    font-size: 4em;
    line-height: 0.9em;
    letter-spacing: 0.03em;
  }

}
