.modal-row {
    display: flex;
    flex-flow: row wrap;
  
    @media (max-width: 720px) {
      flex-flow: column nowrap;
    }
  }

.modal-row > * {
  margin-bottom: 4vmax;

  @media (max-width: 720px) {
    margin-bottom: 0vmax;
  }
}