$border-style: 1px solid #ddd;
$thick-border-style: 3px solid #ddd;
$padding-constant: 1.4vmax;
$thick-padding-constant: 2vmax;

.modal-row {
  display: flex;
  flex-flow: row wrap;
  padding: $thick-padding-constant 0vmax;

  @media (max-width: 720px) {
    flex-flow: column nowrap;
  }
}

.modal-row > .modal-row {
  padding: 0vmax 0vmax $padding-constant 0vmax;

  @media (max-width: 720px) {
    padding: 0;
  }
}

.modal-column > .modal-row {
  @media (min-width: 720px) {
    padding: $thick-padding-constant 0vmax;
  }
}

.modal-column .modal-row:first-child {
  @media (min-width: 720px) {
    padding: $thick-padding-constant 0vmax;
  }
}

.modal-info-item > .modal-row {
  padding: 0;
}

#modal-top-row {
  border-top: $border-style;
}

#modal-centre-section {
  padding: 0px;

  /* This uses the background color to create a smart divider
     between columns which then divides between rows on wrap */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  background-color: #ddd;
  grid-column-gap: 2.3vmax;
  grid-row-gap: 5px;

  // Thick border style as children will cover some of it
  border-top: $thick-border-style;
  border-bottom: $thick-border-style;
}

#modal-training, #modal-breeding, #modal-abilities {
  border-top: $border-style;
}

#modal-type-effectiveness .modal-row {
  padding: 0vmax 0vmax $padding-constant 0vmax;

  @media (max-width: 720px) {
    padding: 0;
  }
}