.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);

    &.visible {
        display: block;
    }

    &.hidden {
        display: none;
    }

  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }