.modal-info-item {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 1vw;

  @media (max-width: 1200px) {
    margin: 1vmax 5vw 1vmax 0vw;
  }
  @media (max-width: 720px) {
    margin: 3vmax 5vw 3vmax 0vw;
  }
}

#modal-top-row .modal-info-item {
  margin-right: 5vw;
}

.modal-info-values-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal-info-subitem {
  @extend .modal-info-item;
  margin: 1vmax 2vw 1vmax 0vw;
}

.modal-info-label {
  display: inline-block;
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 0.3em;
}

.modal-info-sublabel {
  @extend .modal-info-label;
  font-size: 1.2em;
  font-weight: normal;
}

#modal-habitat {
  text-transform: capitalize;
}
