@use './ModalRow.scss';

.modal-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

#modal-centre-section > .modal-column {
  padding-top: ModalRow.$thick-padding-constant;
  background-color: #fff;

  /* Move the columns slightly outside of the bounding box to hide 
     the grey background which provides the dividing line */
  margin: -2px;
  padding: 2px;
}

#modal-centre-section > *:last-child {
  // Removes the left margin from the final column when wrapped
  margin-left: -2.1vmax;
}