.modal-info-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  margin-right: 1vw;

  @media (max-width: 1200px) {
    margin: 1vmax 5vw 1vmax 0vw;
  }
  @media (max-width: 720px) {
    margin: 2vmax 5vw 2vmax 0vw;
  }
}

#modal-top-row .modal-info-item {
  margin-right: 5vw;
}

.modal-info-values-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 0.6em;
}

.modal-info-subitem {
  @extend .modal-info-item;
  @media (min-width: 1200px) {
    margin: 1vmax 2vw 0vmax 0vw;
  }
}

.modal-info-label {
  display: inline-block;
  color: #666;
  font-size: 1.2em;
  font-weight: normal;
  @media (max-width: 1200px) {
    margin-bottom: 1vmax;
  }
}

.modal-info-sublabel {
  @extend .modal-info-label;
  font-size: 0.9em;
  font-weight: bold;
  @media (max-width: 1200px) {
    margin-bottom: 0vmax;
  }
}

#modal-abilities .modal-info-item {
  @media (max-width: 1200px) {
    padding-bottom: 1vmax;
  }
}