// font-size: calc([minimum font size] + ([maximum font size] - [minimum font size]) * ((100vmin - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
$font-size: calc(10px + (120 – 10) * (100vmin – 140px) / (3840 – 140));
$img-panel-z-index: 5;
$text-stroke: 0 0 3px black;

@mixin text-style {
  z-index: $img-panel-z-index;

  font-family: "Pokemon Solid";
  letter-spacing: 4px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
}

.modal-img-panel {
  position: relative;
  flex: 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: auto;

  img {
    z-index: $img-panel-z-index;
    max-width: 35vh;
    max-height: 35vh;
  }

  .pokemon-number {
    @include text-style;
    font-size: $font-size;
    margin: 4vh 1vw;
  }

  .pokemon-name {
    @include text-style;
    font-size: $font-size;
    margin: 6vh 1vw;
    text-transform: capitalize;
  }

  .hidden {
    display: none;
  }
}
