.modal-info-value {
  font-size: 1.2em;
  min-width: 66px;

  .modal-info-unit {
    font-size: 0.9em;
    padding-left: 0.4em;
    align-self: center;
  }
}

.modal-info-alternative-value {
  margin-top: 0.3em;
  font-size: 1em;
  color: #666;
  min-width: 66px;

  .modal-info-alternative-unit {
    font-size: 0.8em;
    padding-left: 0.4em;
    align-self: center;
  }
}
