@use '../containers/App';

.modal {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.75);

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.modal-main {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  z-index: 999;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 16px;

  @media (max-width: 1000px) {
    overflow-y: auto;
  }
}

hr.solid {
  border: none;
  height: 0.5px;
  background-color: #bbb;
  width: 100%;
}

div.vertical-divider {
  margin: 0px 24px 0px 24px;
  border-right: 1px solid #bbb;
  height: 100%;
}

.modal-info-panel {
  flex: 1 60%;
  display: flex;
  flex-direction: column;
  margin-top: 4vmax;
  padding: 0px 3vmax 3vmax 3vmax;
  font-family: "Quicksand", sans-serif;
  overflow-y: auto;
  @media (max-width: 720px) {
    margin-top: 7vmax;
  }
}

.modal-info-row {
  display: flex;
  flex-flow: row wrap;

  @media (max-width: 720px) {
    flex-flow: column nowrap;
  }
}

.modal-info-section-column {
  flex: 1 50%;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
}
