@use '../containers/App';

.modal {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.75);

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }
}

.modal-main {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  z-index: 999;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);

  background-color: white;
  border-radius: 16px;
  overflow-y: auto;
}

.modal-info-panel {
  flex: 1 55%;
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  padding: 0vmax 3vmax 0vmax 3vmax;
  font-family: "Quicksand", sans-serif;
  overflow-y: auto;
  height: calc(90vh - 110px);
}