@use '../containers/App';

.pokemon-stat-table caption {
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: left;
}

th, td {
    padding: 0.25em 1.1em 0.25em 0em;
}

th.modal-info-sublabel {
    display: table-cell;
    padding-bottom: 0.5em;
}

td.stat-name {
    text-transform: capitalize;
    min-width: 80px;
    font-size: 0.9em;
    
    &.total {
        font-size: 1em;
    }
}

td.hp {
    text-transform: uppercase;
}

td.stat-value > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 210px;
}

tfoot td {
    padding-top: 0.5em;
    font-weight: bold;
}

.stat-bar-outer {
    margin-left: 1em;
}

.stat-bar-inner {
    display: inline-block;
    height: 0.5em;
    border-radius: 12px;
    opacity: 0.7;
    &.total {
        opacity: 1;
    }
}