@use '../containers/App';

$text-stroke: 0 0 2px black;
$border-radius: 8px;

@mixin text-style {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  color: #fff;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
}

.glare-wrapper {
  border-radius: $border-radius;
  z-index: 5;
}

.pokemon-card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

  transform-style: preserve-3d;
  cursor: pointer;

  .pokemon-img {
    width: 66%;
    height: auto;

    transform: translateZ(20px);
  }

  .pokemon-number {
    @include text-style;
    font-size: calc(14px + (6 – 18) * ((100vw – 400px) / (1980 – 400)));
    z-index: 5;
    margin-top: 0.33vh;
  }

  .pokemon-name {
    @include text-style;
    font-size: calc(14px + (6 – 18) * ((100vw – 400px) / (1980 – 400)));
    text-transform: capitalize;
    z-index: 5;
    margin-bottom: 0.66vh;
  }
}
