@use '../containers/App';

// font-size: calc([minimum font size] + ([maximum font size] - [minimum font size]) * ((100vmin - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
$pokemon-card-font-size: calc(10px + (50 – 10) * (100vmin – 140px) / (3840 – 140));
$modal-card-font-size: calc(10px + (20 – 10) * (50vmin – 140px) / (1920 – 140));
$text-stroke: 0 0 2.5px black;
$border-radius: 8px;

@mixin text-style {
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  color: #fff;
  text-shadow: $text-stroke, $text-stroke, $text-stroke, $text-stroke;
}

.glare-wrapper {
  border-radius: $border-radius;
  transform: translateZ(2px);
}

.pokemon-card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: $border-radius;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

  transform-style: preserve-3d;
  cursor: pointer;

  img {
    width: 75%;
    height: auto;

    transform: translateZ(20px);
  }

  .pokemon-number {
    @include text-style;
    
    font-size: $pokemon-card-font-size;
    transform: translateZ(3px);
    margin: 1.8vh 1vw 0vh 1vw;
    line-height: 1.4;
  }

  .pokemon-name {
    @include text-style;
    font-size: $pokemon-card-font-size;
    text-transform: capitalize;
    transform: translateZ(3px);
    margin: 0vh 1vw 2.6vh 1vw;
    line-height: 1.4;
    text-align: center;
  }

  .hidden-number {
    visibility: hidden;
  }
}

.modal-card {
  @extend .pokemon-card;

  .pokemon-number {
    font-size: $modal-card-font-size;
  }

  .pokemon-name {
    font-size: $modal-card-font-size;
  }
}