@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("../Pokemon\ Solid.ttf"),
    url("../Pokemon\ Solid.ttf") format("truetype");
}

@mixin search-bar-dimensions {
  width: 300px;
  min-width: 50%;
  margin-top: 3vh;
  z-index: 100;
}

@mixin search-bar-style {
  overflow: hidden;

  background-color: #fff;
  border-radius: 16px;
  border-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin options-style {
  list-style: none;
  padding: 0.25em 1em 0.25em 1em;
  margin: 0;
  text-transform: capitalize;
  cursor: pointer;
}

.search-container {
  @include search-bar-dimensions;

  &.sticky {
    position: fixed;
    top: 2vh;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
}

.search-bar {
  display:flex;
  flex-direction:row;

  @include search-bar-style;

  &:focus-within {
    box-shadow: 0 0 5px 4px cornflowerblue;
    outline: 0;
  }

}

.search-box {
  width: 100%;
  padding: 0.25em 1em 0.25em 1em;
  flex-grow:2;
  
  font-family: "Pokemon Solid";
  letter-spacing: 0.1em;
  font-size: 1em;

  border: none;

  @media (max-width: 480px) {
    font-size: 0.8em;
    letter-spacing: 0.08em;
  }
}

.search-btn {
  background: none;
  border: none;
  padding: 0.25em 1em 0.25em 1em;
  margin-right: 1em;
}

.options-container {
  position: absolute;
  
  @include search-bar-dimensions;
  @include search-bar-style;

  font-family: "Pokemon Solid";
  letter-spacing: 0.09em;
  font-size: 0.9em;
  color: #333;
}

.options {
  margin: 0;
  padding: 0;
}

.option {
  @include options-style;
}

.option-active {
  @include options-style;
  background-color: #B3E5FC;
}

.no-results {
  @include options-style;
  text-transform: none;
  cursor: auto;
  color: #f44336;
}