@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("../Pokemon\ Solid.ttf"),
    url("../Pokemon\ Solid.ttf") format("truetype");
}

.pokemon-search-box {
  min-width: 60%;
  margin: 0 20% 0 20%;
  padding: 0.25em 1em 0.25em 1em;
  border: 3px solid black;

  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  font-size: 1.2em;
}
