@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("./assets/fonts/Pokemon\ Solid.ttf"),
    url("./assets/fonts/Pokemon\ Solid.ttf") format("truetype");
}

body {
  background: url(../src/assets/images/background.png) no-repeat fixed center;
  background-size: cover;
  overflow-y: scroll;
  margin: 0;
  padding-bottom: 20vmin;
}
